html {
  background-color: #c9b5ab;
  font-family: "PT Sans", sans-serif;
  line-height: 1.5;
  color: #222;
}

h1 {
  color: #3f1622;
  font-size: 1.5rem;
  font-weight: bold;
}

a:link {
  color: #8f2440;
  font-size: 1.125rem;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

nav > ol > li {
  list-style-type: none;
  font-weight: bold;
}

img {
  width: 100%;
}

figcaption {
  font-family: "PT Serif", serif;
  font-style: italic;
  text-align: center;
}

main {
  font-family: "PT Serif", serif;
}

main > p:nth-of-type(1) {
  font-size: 1.125rem;
  font-weight: bold;
}

main > blockquote > p {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
}

main > blockquote > cite {
  font-size: .8rem;
  font-weight: normal;
}

h2 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
}

ol > li {
  list-style-type: lower-greek;
}

dl > dt {
  font-size: 1.125rem;
  font-weight: bold;
}

ul > li {
  list-style-type: circle;
  font-size: .8rem;
}

footer {
  font-size: .8rem;
}

a:link:not(.not-nav) {
  font-size: .8rem;
}

a {
  text-decoration: none;
}
